@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary-dark: #166e4e;
  --primary: #00bb77;
}
* {
  scroll-behavior: smooth;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-dark: var(--primary-dark);
  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(180deg, #00f0ff, #6f00ff); */
  background: #a1a1aa;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  /* background: linear-gradient(180deg, #6f00ff, #00f0ff); */
  background-color: #a1a1aa;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* Removes the default appearance */
  margin: 0;
  /* Removes any default margin */
}

/* globals.css ya styles.css me daal de */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
